h3{
    font-size: 25px !important; 
 }
 .btn-success:hover{
     background-color: rgb(177, 255, 245);
 }
 canvas{
     animation-name:example;
     animation-duration: 4s;
     animation-iteration-count: infinite;
 }
 @keyframes example{
     from{
         box-shadow:1px 1px 38px rgb(164, 255, 252);
     }
     to{
         box-shadow: 1px 1px 38px rgb(58, 239, 255);
     }
 }